<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <%= content_for(:auth_header) do %>
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create your account</h2>
    </div>
  <% end %>  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name , class: label_class %><br />
      <%= f.text_field :first_name, autofocus: true, class: input_class %>
    </div>

    <div class="field">
      <%= f.label :last_name , class: label_class %><br />
      <%= f.text_field :last_name, autofocus: true, class: input_class %>
    </div>

    <div class="field">
      <%= f.label :email , class: label_class %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_class %>
    </div>

    <div class="field">
      <%= f.label :password , class: label_class %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: input_class %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation , class: label_class %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_class %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" , class: form_button_class %>
    </div>
  <% end %>
  <p class="mt-10 text-center text-sm text-gray-500">
    Already a member?
    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_session_path(resource_name), class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %><br />
    <% end %> 
  </p>  
  <%# <%= render "devise/shared/links" %> 
</div>
