<% content_for(:page_title, "Pages#home") %>
<p>Welcome current user : <%= current_user.first_name %></p>
<div>
    <%= form_tag(flights_url, method: "get") do %>
        <p>Departure Airport</p>
        <%= collection_select(:flight, :departure_airport_id, Airport.all, :id, :code, prompt: true) %>
        <p>Arrival Airport</p>
        <%= collection_select(:flight, :arrival_airport_id, Airport.all, :id, :code, prompt: true) %>
        <p>Number of Passengers</p>
        <%= select_tag(:passengers, options_for_select(1..4)) %>
        <p>Date</p>
        <%= collection_select(:flight, :start_datetime, Flight.all, :id, :start_datetime, prompt: true) %>
        <%= text_field_tag(:search) %>
        <%= submit_tag("Search") %>
    <% end %>
</div>
<h1>Flights</h1>

<% @flights.each do |flight| %>
    <p><%= flight %></p>
<% end %>
